body,
h1,
h2,
h3,
h4,
ul,
ol,
p {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: outside none none;
}

a {
	text-decoration: none;
}
#toubu {
	width: 1845px;
	height: 60px;
	overflow: hidden;
	margin: 20px auto;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	background-color: #888888;
	box-shadow: 0px 5px 5px 2px  rgba(0, 0, 0, 0.5);
	border-radius:35px 35px 0px 35px;
	z-index: 1;
	background: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.logo{
	width: 20px;
	margin: auto;
	margin-right: 10px;
}
#toubu .div_01 {
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
    animation: 2s my-animation infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
	margin: 0px 10px;
}
@keyframes my-animation {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
    }
}
#toubu .div_02 ul li {
	display: inline-block;
	line-height: 60px;
}
.ma{
	margin: 0px 18px;
}
#toubu .div_02 ul li a {
	display: block;
	width: 80px;
	line-height: 60px;
	color: #000;
	font-size: 16px;
	text-align: center;
}
#toubu .div_02 ul a.actives{
	animation: 1s my-animation3 infinite ;
    animation-direction: alternate;
	border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
	transition-property: color;
}
@keyframes my-animation3 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
#toubu .div_02 ul li a:hover,.play a.actives {
    animation: 1s my-animation4 infinite ;
    animation-direction: alternate;
	border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
	transition-property: color;
}
@keyframes my-animation4 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
#tupian {
	width: 1000px;
	height: 500px;
	overflow: hidden;
	margin: 20px auto 40px;
	border-radius:50px 50px 0px 50px;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
}
#banner {
	width: 1000px;
	height: 500px;
	margin: 0px auto;
	position: relative;
}
#banner #play {
	width: 1000px;
	height: 600px;
	list-style: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
#banner #play li {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
#banner #play li img {
	border-radius:50px 50px 0px 50px;
	float: left;
}
#tupian img {
	width: 100%;
	height: 500px;
}
#tupian img {
	width: 100%;
}
#button {
	position: absolute;
	bottom: 20px;
	left: 470px;
	list-style: none;
}
#button li {
	margin-left: 10px;
	float: left;
}
#button li div {
	width: 12px;
	height: 12px;
	background: #DDDDDD;
	border-radius: 6px;
	cursor: pointer;
}
#section {
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#section .div_left {
	width: 100%;
	height: auto;
	float: left;
}
#section .div_left h2 {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	color: rgba(0, 0, 0, .8);
}
#section .div_left .item {
	border-radius:50px 50px 0px 50px;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
	float:left;
	width:31.3%;
	margin:1%;
	background: #fff;
	margin-bottom: 25px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
#section .div_left .item a {
	font-size: 14px;
	color: #e54d42;
}
a {
	text-decoration: none;
}
#section .div_left .item div.pic {
	width: 100%;
	height: 385px;
	overflow: hidden;
}
#section .div_left .item div.pic img {
	width: auto;
	height: 300px;
	margin: 50px 5px;
	border-radius: 35px 35px 0px 35px;
	display: inline-block;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	
}
#section .div_left .item div.pic:hover img {
	border-radius: 70% 70% 70% 70%;
	display: inline-block;
	transition-property: all;
	transition-duration: 0s;
	transition-timing-function: linear;
	animation:hh1 6s linear 0s infinite; 
}
@keyframes hh1 {

	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
#section .div_left .item .box {
	margin: 0 auto;
	padding: 25px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.8);
}
#section .div_left .item h3 {
	font-size: 20px;
	color: rgba(0, 0, 0, .8);
}
#section .div_left .item h4 {
	font-size: 12px;
	color: rgba(0, 0, 0, .6);
	padding-top: 10px;
}
#section .div_left .item p {
	font-size: 14px;
	color: rgba(0, 0, 0, .8);
	line-height: 1.6;
	padding: 30px 0;
}
#section .div_left .btn {
	width: 100%;
	height: 130px;
	overflow: hidden;
	text-align: center;
}

.btnn{
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0); ;
	color: rgba(0, 0, 0, 0);
	margin: 40px auto;
	border-radius: 100%;
	transition: all 0.5s linear;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
	text-align: center;
}
.btnn:hover{
	border-radius: 35px 35px 35px 35px  ;
	width: 300px;
	background-color: rgba(0, 0, 0, 0); ;
	color: cadetblue;
}
#jiaobu {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}
#jiaobu p {
	line-height: 1.8;
}
.radial-gradient-demo {
    background-color: #31f1f1; 
    background-image: radial-gradient(closest-side, rgb(112, 122, 255), rgba(35, 149, 255, 0)), radial-gradient(closest-side, rgb(250, 144, 184), rgba(197, 192, 195, 0)), radial-gradient(closest-side, rgb(138, 241, 74), rgba(254, 234, 131, 0)), radial-gradient(closest-side, rgb(255, 188, 100), rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
    animation: 15s moiveAnimation infinite;
}
#jiaobu {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}

#jiaobu p {
	line-height: 1.8;
}
#jiaobu {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}
.foot{
	width: 100%;
	height: 250px;
	background-color: rgba(128, 128, 128, 0.5);
	margin-top: 40px;
	margin-bottom: -25px;
	border-radius:40px 40px 0px 40px;
}
.foot1{
	font-size: 1.5em;
	color: rgb(128, 128, 128);
	text-align: center;
}
.foot1 p{
	padding: 50px;
	text-align: center;
}
.foot2{
	font-size: 1em;
	color:rgb(128, 128, 128) ;
	text-align: center;
}
.foot2 p{
	padding: 40px;
	text-align: center;
}
hr{
	width: 1000px;
	margin: 0px auto;
}
.radial-gradient-demo {
    background-color: #31f1f1; 
    background-image: radial-gradient(closest-side, rgb(112, 122, 255), rgba(35, 149, 255, 0)), radial-gradient(closest-side, rgb(250, 144, 184), rgba(197, 192, 195, 0)), radial-gradient(closest-side, rgb(138, 241, 74), rgba(254, 234, 131, 0)), radial-gradient(closest-side, rgb(255, 188, 100), rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
    animation: 15s moiveAnimation infinite;
}
@keyframes moiveAnimation {
    0%,
    100% {
        background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
        background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    }
    25% {
        background-size: 120vw 120vh, 130vw 150vh, 130vw 120vh, 100vw 110vh;
        background-position: -30vw -30vh, 40vw -10vh, 0vw 10vh, -10vw 20vh;
    }
    50% {
        background-size: 130vw 130vh, 140vw 100vh, 100vw 150vh, 90vw 110vh;
        background-position: 10vw -60vh, 20vw 10vh, 10vw 30vh, 10vw -20vh;
    }
    75% {
        background-size: 140vw 140vh, 100vw 130vh, 100vw 150vh, 130vw 110vh;
        background-position: -70vw -70vh, 0vw -10vh, 30vw -20vh, 20vw 30vh;
    }
}