@charset "utf-8";

body,
h1,
h2,
h3,
h4,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
    animation: 2s my-animation1 infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes my-animation1 {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
    }
}

/* --- MODIFIED: 头部导航栏自适应 --- */
#toubu {
    max-width: 1845px;
    width: 95%;
    height: 60px;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #888888;
    box-shadow: 0px 5px 5px 2px  rgba(0, 0, 0, 0.5);
    border-radius:35px 35px 0px 35px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.logo{
    width: 20px;
    margin: auto;
    margin-right: 10px;
}
#toubu .div_01 {
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    animation: 2s my-animation2 infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0px 20px;
}
@keyframes my-animation2 {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
    }
}

#toubu .div_02 ul {
    display: flex;
}
#toubu .div_02 ul li {
    /* display: inline-block; */
    line-height: 60px;
}
.ma{
    margin: 0px 10px;
}
#toubu .div_02 ul li a {
    display: block;
    /* width: 80px; */
    padding: 0 15px;
    line-height: 60px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

#toubu .div_02 ul a.actives{
    animation: 1s my-animation3 infinite ;
    animation-direction: alternate;
    border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
    transition-property: color;
}
@keyframes my-animation3 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
#toubu .div_02 ul li a:hover,.play a.actives {
    animation: 1s my-animation4 infinite ;
    animation-direction: alternate;
    border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
    transition-property: color;
}
@keyframes my-animation4 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
html,body{
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
    font-family: PingFang SC,Microsoft YaHei, Helvitica, Verdana,Tohoma, Arial,san-serif;
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    outline: none;
    box-sizing: border-box; /* 新增，方便宽度计算 */
}

/*登录开始*/
/* --- MODIFIED: 使用 Flexbox 让登录框在页面中垂直居中 --- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.login_box{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* height: auto; */
    /* overflow: hidden; */
}   /*包裹全部元素的大盒子*/

/*登录注册模块*/

.fr{
    /* float: left;  不再需要浮动 */
}   /*class为fr的靠左对齐*/

/* --- MODIFIED: 登录表单容器自适应 --- */
.login_b2{
    padding: 0px 20px;
    max-width: 360px;
    width: 90%;
    /* height: 540px;  移除固定高度 */
    background-color: #ffffff00;
    overflow: hidden;
    /* position: absolute; */
    /* left: 30%; */
    margin: 0 auto; /* 水平居中 */
}   /*包裹登录模块的大盒子*/

/*登录注册模块列表*/
.login_b2_ul{
    width: 100%;
    padding-top: 34px;
    font-size: 24px;
    text-align: center;
    color: #545454;
}   /*包裹 登录 注册的小盒子*/

.login_b2_ul>li{
    width: 100%;
    line-height: 66px;
    border-bottom: 2px solid #888888;
    cursor: pointer;
}   /*li继承login_b2_ul属性*/

.login_b2_ul>li:hover,.login_b2_ul>li.active{
    font-weight: bold;
    border-bottom: 4px solid ;
    width: 100%; /* 修改为100% */
    animation: 3s my-animation5 infinite;
    animation-direction: alternate;
}   /*为登录添加效果*/
@keyframes my-animation5 {
    0%{
        color: rgba(110, 156, 255, 0);
    }
    100%{
        color: rgba(0, 47, 255,1);
    }
}

/*登陆注册模块表单控件*/
.login_b2 input{
    width: 100%; /* 修改为100% */
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border: 0px solid ;
    margin-top: 30px;
    border-radius: 25px;
    text-indent: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* 增加背景色，提高可读性 */
    animation-direction: alternate;
    border-radius: 50px 50px 0px 50px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}   /*为输入框添加属性*/

.login_b2_span{
    color: #7c7979;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.login_b2_span1{
    color: #7c7979;
    font-size: 14px;
    margin-top: 20px;
    float: right;
}

.login_btn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 22px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}
.popup_box_1 {
    border: 0px;
    user-select: none;
    width: 100%; /* 修改为100% */
    height: 45px;
    line-height: 45px;
    background-color: #16CA82;
    color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto 20px; /* 居中 */
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
    display: block;
}
.popup_box_2{
    font-size: 14px;
    /* padding-left: 200px;  移除固定内边距 */
    height: 20px;
    line-height: 30px;
    text-align: center; /* 改为居中 */
    user-select: none;
}
/*登录结束*/

/* --- MODIFIED: 页脚自适应 --- */
#jiaobu {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    padding: 30px 0;
}

#jiaobu p {
    line-height: 1.8;
    padding: 0 20px;
}
.foot{
    max-width: 1200px;
    width: 90%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 20px auto;
    padding: 20px 0;
    border-radius:40px 40px 0px 40px;
}
.foot1{
    font-size: 1.2em;
    color: #333;
    text-align: center;
    display: block;
}
.foot1 p{
    padding: 10px;
    text-align: center;
}
.foot2{
    font-size: 0.9em;
    color: #555;
    text-align: center;
    display: block;
}
.foot2 p{
    padding: 10px;
    text-align: center;
}
hr{
    width: 80%;
    margin: 10px auto;
    border-color: rgba(0,0,0,0.1);
}

/* --- 背景动画保持不变 --- */
.radial-gradient-demo {
    background-color: #31f1f1; 
    background-image: radial-gradient(closest-side, rgb(112, 122, 255), rgba(35, 149, 255, 0)), radial-gradient(closest-side, rgb(250, 144, 184), rgba(197, 192, 195, 0)), radial-gradient(closest-side, rgb(138, 241, 74), rgba(254, 234, 131, 0)), radial-gradient(closest-side, rgb(255, 188, 100), rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
    animation: 15s moiveAnimation infinite;
}
@keyframes moiveAnimation {
    0%,
    100% {
        background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
        background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    }
    25% {
        background-size: 120vw 120vh, 130vw 150vh, 130vw 120vh, 100vw 110vh;
        background-position: -30vw -30vh, 40vw -10vh, 0vw 10vh, -10vw 20vh;
    }
    50% {
        background-size: 130vw 130vh, 140vw 100vh, 100vw 150vh, 90vw 110vh;
        background-position: 10vw -60vh, 20vw 10vh, 10vw 30vh, 10vw -20vh;
    }
    75% {
        background-size: 140vw 140vh, 100vw 130vh, 100vw 150vh, 130vw 110vh;
        background-position: -70vw -70vh, 0vw -10vh, 30vw -20vh, 20vw 30vh;
    }
}

/* --- NEW: 媒体查询 - 针对小屏幕设备 --- */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #toubu {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
        margin-bottom: 10px;
    }
    #toubu .div_01 {
        line-height: 1;
        margin-bottom: 15px;
    }
    #toubu .div_02 ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    #toubu .div_02 ul li a {
        padding: 0 10px;
        font-size: 14px;
    }
    
    .login_b2_ul {
        font-size: 22px;
    }
    .login_b2 input {
        margin-top: 20px;
        height: 42px;
    }
    .popup_box_1 {
        height: 42px;
        font-size: 16px;
    }
    .foot1 { font-size: 1em; }
    .foot2 { font-size: 0.8em; }
}