@charset "utf-8";

body,
h1,
h2,
h3,
h4,
ul,
ol,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: outside none none;
}

a {
	text-decoration: none;
    animation: 2s my-animation1 infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes my-animation1 {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
    }
}

#toubu {
	width: 1845px;
	height: 60px;
	overflow: hidden;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	background-color: #888888;
	box-shadow: 0px 5px 5px 2px  rgba(0, 0, 0, 0.5);
	border-radius:35px 35px 0px 35px;
	z-index: 1;
    background: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.logo{
	width: 20px;
	margin: auto;
	margin-right: 10px;
}
#toubu .div_01 {
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
    animation: 2s my-animation2 infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0px 10px;
}
@keyframes my-animation2 {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: rgb(0, 0, 255);
    }
}

#toubu .div_02 ul li {
	display: inline-block;
	line-height: 60px;
}
.ma{
	margin: 0px 18px;
}
#toubu .div_02 ul li a {
	display: block;
	width: 80px;
	line-height: 60px;
	color: #000;
	font-size: 16px;
	text-align: center;
}

#toubu .div_02 ul a.actives{
	animation: 1s my-animation3 infinite ;
    animation-direction: alternate;
	border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
	transition-property: color;
}
@keyframes my-animation3 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
#toubu .div_02 ul li a:hover,.play a.actives {
    animation: 1s my-animation4 infinite ;
    animation-direction: alternate;
	border-radius:35px 35px 0px 35px;
    transition-timing-function: linear;
	transition-property: color;
}
@keyframes my-animation4 {
    from {
        background-color: rgba(128, 128, 128,0.5);
    }
    to {
        background-color: rgba(255, 255, 255 , 0.5);
    }
}
html,body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: PingFang SC,Microsoft YaHei, Helvitica, Verdana,Tohoma, Arial,san-serif;
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    outline: none;
}

/*登录开始*/
.login_box{
    width: 1200px;
    margin: 150px auto;
    height: auto;
    overflow: hidden;
}   /*包裹全部元素的大盒子*/

/*登录注册模块*/

.fr{
    float: left;
}   /*class为fr的靠左对齐*/

.login_b2{
    padding: 0px 60px;
    width: 360px;
    height: 540px;
    background-color: #ffffff00;
    overflow: hidden;
    position: absolute;
    left: 30%   ;
}   /*包裹登录模块的大盒子*/

/*登录注册模块列表*/
.login_b2_ul{
    width: 360px;
    padding-top: 34px;
    font-size: 24px;
    text-align: center;
    color: #545454;
}   /*包裹 登录 注册的小盒子*/

.login_b2_ul>li{
    width: 100%;
    line-height: 66px;
    border-bottom: 2px solid #888888;
    cursor: pointer;
}   /*li继承login_b2_ul属性*/

.login_b2_ul>li:hover,.login_b2_ul>li.active{
    font-weight: bold;
    border-bottom: 4px solid ;
    width: 390px;
    animation: 3s my-animation5 infinite;
    animation-direction: alternate;
}   /*为登录添加效果*/
@keyframes my-animation5 {
    0%{
        color: rgba(110, 156, 255, 0);
    }
    100%{
        color: rgba(0, 47, 255,1);
    }
}

/*登陆注册模块表单控件*/
.login_b2 input{
    width: 360px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border: 0px solid ;
    margin-top: 30px;
    border-radius: 25px;
    text-indent: 10px;
    background-color: #ffffff00;
    animation-direction: alternate;
    border-radius: 50px 50px 0px 50px;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
	outline: none;
    padding-left: 15px;
    padding-right: 15px;
}   /*为输入框添加属性*/

.login_b2_span{
    color: #7c7979;
    font-size: 14px;
    margin-top: 40px;
}
.login_b2_span1{
    color: #7c7979;
    font-size: 14px;
    margin-top: 40px;
    float: right;
}

.login_btn{
    width: 360px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 22px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 100px;
}
.popup_box_1 {
    border: 0px;
    user-select: none;
    width: 50%;
    height: 40px;
    line-height: 40px;
    background-color: #16CA82;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 55px 80px 20px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.24);
}
.popup_box_2{
    font-size: 14px;
    padding-left: 200px;
    height: 20px;
    line-height: 30px;
    text-align: left;
    user-select: none;
}
/*登录结束*/
.radial-gradient-demo {
    background-color: #31f1f1; 
    background-image: radial-gradient(closest-side, rgb(112, 122, 255), rgba(35, 149, 255, 0)), radial-gradient(closest-side, rgb(250, 144, 184), rgba(197, 192, 195, 0)), radial-gradient(closest-side, rgb(138, 241, 74), rgba(254, 234, 131, 0)), radial-gradient(closest-side, rgb(255, 188, 100), rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
    animation: 15s moiveAnimation infinite;
}
/*页脚开始*/
#jiaobu {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}

#jiaobu p {
	line-height: 1.8;
}
#jiaobu {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 30px 0;
}
.foot{
	width: 100%;
	height: 250px;
	background-color: rgba(128, 128, 128, 0.5);
	margin-top: 40px;
	margin-bottom: -25px;
	border-radius:40px 40px 0px 40px;
}
.foot1{
	font-size: 1.5em;
	color: rgb(128, 128, 128);
	text-align: center;
}
.foot1 p{
	padding: 50px;
	text-align: center;
}
.foot2{
	font-size: 1em;
	color:rgb(128, 128, 128) ;
	text-align: center;
}
.foot2 p{
	padding: 40px;
	text-align: center;
}
hr{
	width: 1000px;
	margin: 0px auto;
}
.radial-gradient-demo {
    background-color: #31f1f1; 
    background-image: radial-gradient(closest-side, rgb(112, 122, 255), rgba(35, 149, 255, 0)), radial-gradient(closest-side, rgb(250, 144, 184), rgba(197, 192, 195, 0)), radial-gradient(closest-side, rgb(138, 241, 74), rgba(254, 234, 131, 0)), radial-gradient(closest-side, rgb(255, 188, 100), rgba(170, 142, 245, 0));
    background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
    background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    background-repeat: no-repeat;
    animation: 15s moiveAnimation infinite;
}
@keyframes moiveAnimation {
    0%,
    100% {
        background-size: 130vw 130vh, 120vw 120vh, 100vw 150vh, 120vw 130vh;
        background-position: -80vw -80vh, 30vw -20vh, -20vw 20vh, 30vw 20vh;
    }
    25% {
        background-size: 120vw 120vh, 130vw 150vh, 130vw 120vh, 100vw 110vh;
        background-position: -30vw -30vh, 40vw -10vh, 0vw 10vh, -10vw 20vh;
    }
    50% {
        background-size: 130vw 130vh, 140vw 100vh, 100vw 150vh, 90vw 110vh;
        background-position: 10vw -60vh, 20vw 10vh, 10vw 30vh, 10vw -20vh;
    }
    75% {
        background-size: 140vw 140vh, 100vw 130vh, 100vw 150vh, 130vw 110vh;
        background-position: -70vw -70vh, 0vw -10vh, 30vw -20vh, 20vw 30vh;
    }
}